@function calculateRem($size) {
  $remSize: $size / 16px;
  @return $remSize * 1rem;
}

@mixin font-size($size) {
  font-size: $size;
  font-size: calculateRem($size);
}

@mixin tablets {
  @media screen and (max-width: $tablets) {
    @content
  }
}

@mixin laptop1600 {
  @media screen and (max-width: $laptop1600) {
    @content
  }
}

@mixin laptop1500 {
  @media screen and (max-width: $laptop1500) {
    @content
  }
}

@mixin laptop1460 {
  @media screen and (max-width: $laptop1460) {
    @content
  }
}

@mixin laptop1300 {
  @media screen and (max-width: $laptop1460) {
    @content
  }
}

@mixin laptop1250 {
  @media screen and (max-width: $laptop1460) {
    @content
  }
}

@mixin phones {
  @media screen and (max-width: $phones) {
    @content
  }
}

@mixin phones-xs {
  @media screen and (max-width: $phones-xs) {
    @content
  }
}

@function rem($px) {
  @return $px / 16px + 0rem;
}
