@import "normalize";

// libruary

//config
@import "config/variable.scss";
@import "config/mixins.scss";

//resolution
$laptop1600: 1600px;
$laptop1500: 1500px;
$laptop1460: 1460px;
$laptop1300: 1300px;
$tablets: 768px;
$phones: 667px;
$phones-xs: 568px;

//base
@import "layout/font.scss";
@import "layout/base.scss";
@import "layout/adjustment.scss";

//section
@import "section/header.scss";
@import "section/hero.scss";
@import "section/more.scss";
@import "section/form.scss";
@import "section/footer.scss";


// media-quries
@import "section/media.scss";
